*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

/*---Header----*/

.header {
	position: sticky;
	background-color: rgb(34, 91, 149);
	top: 0;
    color: #fff;
    padding: 15px 0px;
    z-index: 999;
}
.header-iteam {
	display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.header-logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: 800;
}
.header-actions a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 3px;
}

.header-actions a.btntk, .btntb {
    background-color: #007bff;
}

/*-----Sider-----*/
.container-body {
    display: flex;
    margin: 0 auto;
    max-width: 100%;
}

.container-body .sider {
    top: 65px;
    width: 200px;
    height: calc(100vh - 60px);
    background: rgb(34, 91, 149);
    position: fixed;
}

.container-body .sider ul{
    list-style-type: none;
    padding: 0px;
    margin: 0;
}

.container-body .sider ul li a {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #515151;
    display: block;
    padding: 10px;
}

.container-body .sider ul li a:hover{
    background-color: rgb(255, 255, 255);
	color: rgb(24, 65, 105);
}

#menu ul li a.dadky{
	background-color: #0080c0;
}
.header-actions a:hover{
    background-color: rgb(255, 255, 255);
	color: rgb(24, 65, 105);
}

/*---Main----*/

.container-body .main{
	position: relative;
    left: 200px;
    margin: 15px;
    width: calc(100% - 230px);
}

/*.container-item {
    margin-top:1.5rem!important;
    margin-bottom:1.5rem!important;
	flex:0 0 auto;
	width:100%
}*/

.container-body .main h2 {
    color: #2c3e50; 
    font-size: 40px;
    text-align: center;
    text-transform: uppercase; 
    text-shadow: 2px 2px 4px #aaa;
    margin: 20px;
}

/*---Tìm kiếm---*/

.filter-dropdown {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 10px;
    padding: 15px;
}
.filter-dropdown label {
    font-size: 16px;
}
#hd-filter {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

/*---Các hoạt động---*/
.dshoatdong{
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.tthoatdong{
	display: flex;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    border: #004080 solid 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 100%; 
}
.dangky{
	display: flex;
	align-items: center;
}
.btnhuydk {
    margin-top: 13px;
    padding: 10px 12px;
    background-color: #ff0000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.btnhuydk:hover {
    background-color: #800040;
}
.hoatdong {
  height: 0px;
}
.hoatdong img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    object-fit: cover; 
}
.chitiet {
	align-content: center;
	font-size: 14px;
}
.p1, .p2 {
  	padding-left: 160px;
}

.p2{
	display: flex;
	gap: 30px;
	align-items: center;
	font-size: 11px;
	font-weight: 600;
	margin-top:20px;
}
.thongbao{
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	color: #0000a0;
}