body {
	background: url("3.jpg") no-repeat;
	background-attachment: fixed;
	background-size: cover;
    margin: 0;
    padding: 0;
}

.schoolName{
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 20px;
	color:rgb(247, 0, 0);
	font-family: sans-serif;
}
.webName{
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 20px;
	color:rgb(255, 255, 255);
	/*text-align: center;*/
	font-family: sans-serif;
}

.login-form{
	width: 360px;
	height:400px;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	margin: auto;
	text-align: center;
	padding: 20px;
}
.login-form .tilte{
	margin-top: 40px;
	margin-bottom: 30px;
	background-color: rgb(255, 255, 255);
	color:rgb(0, 128, 192);
	font-family: sans-serif;
	font-weight: bold;
	font-size: 30px;
}
.text-name{
	/*margin-top: 5px;*/
	text-align: left;
	margin-bottom: 5px;
	margin-left: 50px;
	color:rgb(0, 128, 192);
	font-family: sans-serif;
}

input{
	width: 230px;
	height: 40px;
	margin-bottom: 0px;
	border-radius: 5px;
	
}
.error{
	margin-right: 65px;
	margin-bottom: 10px;
	margin-top: 10px;
	height: 20px;
	text-align: right;
	color:rgb(255, 0, 0);
}
button{
	width: 240px;
	height:  40px;
	margin-bottom: 20px;
/*	margin-left: 70px;*/
	border-radius: 5px;
	border:none;
	background-color: rgb(0, 128, 192);
	font-family: sans-serif;
	font-size: 15px;
	color: aliceblue;
}
button:hover{
	cursor: pointer;
	background-color:  rgb(0, 91, 136);
	/*color:rgb(0, 128, 192);*/
}
.forgotPassword{
/*	margin-left: 90px;*/
/*	margin-top: 10px;*/
	color:darkgray;
	text-align: right;
	
}